// Цветовая палитра
$primary-color: #5e81ac; // Темно-синий
$secondary-color: #CE5B78; // Цвет скидок и тд
$background-color: #ffff; // белый
$arrow-color: #1D484E; // Цвет кнопок-стрелок в карточках
$text-color: #212121; // Темно-серый
$blue-bg: #5e81ac; //Задний фон футера
$footer-bg: #fff9db;
$card-bg: #f5f3f3; // светло-серый
$card-text-prime: #2D3E54; //для текста карточки
$card-text-second: #4C5B6D; //второстепенный текст
$ligth-blue: #73a0d6;
// Шрифты
$font-primary: 'Roboto', sans-serif;


